<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>14 ВАРИАНТ</title>
</head>
<body>
<h1>Лабораторная работа 5 вариант 14</h1>
<h3>выполнил студент группы РК6-61б Петричук Анастасия</h3>
<p>Разработать web-программу для рисования конечно-элементной сетки по данным таблиц базы данных femdb. Рассматривая сетку
    как политическую карту некоторого континента, раскрасить ее минимальным количеством цветов.</p>
<object data="image.svg"></object>
<p>2021 год</p>
</body>
</html>